@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #10b981; /* Emerald-500 */
  --color-secondary: #0ea5e9; /* Sky-500 */
}

@layer base {
  html {
    direction: rtl;
    @apply antialiased scroll-smooth;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}
